encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1ak2dnmzaezr8l53cj42whpe6zlqadg0ygdwtylhkd3e5xdewfvqsrtrfrk"

[diff]
command = "difft"
args = [
  "--color",
  "always",
  "--skip-unchanged"
]
