encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipients = [
    "age1ak2dnmzaezr8l53cj42whpe6zlqadg0ygdwtylhkd3e5xdewfvqsrtrfrk", # laptop
    "age15a2mrqapxjntfmm58fsjrpn97r8fd3ryjmh3mvgjrk27my2yquxs3e6etc", # home pc
  ]

[git]
  autoCommit = true
  autoPush = true

[diff]
command = "difft"
args = [
  "--color",
  "always",
  "--skip-unchanged"
]

[hooks.apply.post]
command = "mise"
args = ["install"]
